.App {
  max-width: 860px;
  margin: 40px auto;
}
h1 span{
  color: #0098D7;
}

button {
  background: none;
  border: 2px solid #c6e7ff;
  border-radius: 50px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.8em;
}

button:hover {
  background: #c6e7ff;
  color: #fff;
}


.card-grid {
  
  padding: 2%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.section {
  display: flex;
  justify-content: space-evenly;
}